node_modules
dist
.git/*
.DS_Store

license
package-lock.json
yarn.lock
.gitlab-ci.yml

.yarnclean
.eslintignore
.prettierignore
.npmignore
.gitignore
.dockerignore

dist
build
packages/*/lib/app
consoles/*/lib/app

*.ico
*.html
*.log
*.svg
*.map
*.png
*.snap
*.ttf
*.sh
*.txt